.bb-omnibar-bar {
  &.bar{
    padding-right: 50px !important;
  }
}

.bb-omnibar {
 .bb-omnibar-desktop {
   .bb-omnibar-accountflyout {
      right: 50px !important;
    }
  }
}

#bb-help-container {
  z-index: 9999;
}
