$panelHeight: 591px;
$panelWidth: 450px;
$panelPaddingColor: #f3f3f4;
$headerHeight: 48px;
$collapsedHeaderHeight: 30px;
$footerHeight: 36px;
$panelSearchboxHeight: $headerHeight - 20;
$panelSearchIconColor: #b3b3b3;
$textColor: #676A6C;
$screenXsMax: 479px;
