@import './variables.scss';

.bb-help-hidden {
  display: none;
}

#bb-help-container.bb-help-closed {
  right: -$panelWidth;
  transition: right 250ms ease-out;

  #bb-help-iframe {
    box-shadow: none;
  }
}

#bb-help-container.bb-help-closed-mobile {
  height: 100%;
}

#bb-help-container {
  z-index: 9999;
  line-height: normal;
  position: fixed;
  top: 0;
  right: 0;
  transition: right 250ms ease-in;
  height: $panelHeight;
  width: $panelWidth;
  box-sizing: border-box;

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

#bb-help-container.bb-help-container-mobile {
  width: 100%;
  height: 100%;
}

.bb-omnibar-collapsed {
  #bb-help-container.bb-help-closed {
    #bb-help-invoker:not(:hover) {
      height: $collapsedHeaderHeight;
      border-bottom-left-radius: 25px;
      border-top-left-radius: 25px;
      width: 30px;
      padding: 2px 10px 7px 6px;
    }
  }
}

#bb-help-invoker {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: none;
  background: #71bf44;
  color: #fff;
  position: absolute;
  cursor: pointer;
  height: 50px;
  width: 40px;
  right: 100%;
  padding-left: 10px;
  border: none;
  outline: none;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    width: 2.5ex;
    height: 2.5ex;
    font-size: 14px;
    border-radius: 100%;
    border: 2px solid;
    box-sizing: content-box;
  }
}

#bb-help-invoker.bb-help-invoker-hidden {
  display: none;
}

#bb-help-iframe {
  box-shadow: -1px 2px 9px 0 rgba(50,50,50,.41);
  height: 100%;
  width: 100%;
  border: none;
}
